<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gespeichert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="bHome" (click)="onHomeClicked()" >Home</ion-button>
  <ion-button id="bHome" (click)="createContent()" >create</ion-button>

  <ion-input type="number" [(ngModel)]="savedId" id="inputId"></ion-input>
  <ion-button id="bHome" (click)="getSavedData()" >Get</ion-button>
  <ion-button id="bHome" (click)="deleteSavedData()" >Delete</ion-button>

  <ion-list id="listSavedData">
    <ion-item >

    </ion-item>
  </ion-list>

</ion-content>
