<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WINDCHILL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
      <ion-label color="primary" floating>Temperatur</ion-label>
      <ion-input type="number" [(ngModel)]="temperatur" id="temperatur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Windgeschwindigkeit</ion-label>
      <ion-input type="number" [(ngModel)]="windgeschwindigkeit" id="windgeschwindigkeit"></ion-input>
    </ion-item>
  <ion-button id="bCalculate" (click)="onCalculateClicked()" >Berechnen</ion-button>
  <ion-button id="bSaved" (click)="onSavedClicked()" >Gespeicherte</ion-button>
  <ion-button id="bInformation" (click)="onInformationClicked()" >Informationen</ion-button>

</ion-content>
