<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WINDCHILL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
      <ion-label color="primary" floating>Temperatur</ion-label>
      <ion-input type="number" [(ngModel)]="temperatur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Windgeschwindigkeit</ion-label>
      <ion-input type="number" [(ngModel)]="windgeschwindigkeit"></ion-input>
    </ion-item>
  <ion-button id="bCalculate" (click)="onCalculateClicked()" routerLink="/result" routerDirection="forward">Berechnen</ion-button>
</ion-content>
